
$primary: #008DD5;
$accent: #e80d6a;
$accent2: #81cfe0;
$accent3: #7befb2;
$accent4: #f5e51b;
$accent5: #22a7f0;

$dark-background: #232323;
$darker-background: #181818;
$black: #000;

$white-text: #f0f0f0;
$grey-text: #b5b5b5;
$error-text: #f22613;
$warn-text: #f4d03f;
